<!DOCTYPE html>
<html lang="pt-br">
<head>
    <head th:replace="~{geral :: head}"></head>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-azul">
        <div class="container-fluid">
            <a class="navbar-brand ml-1" href="#">
                <img src="https://www.bizfacil.com.br/imagens/logo_omni_fundo_azul.png" alt="" width="83" height="43" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/Omni/home">
                            Projetos
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/Omni/departamento/todos">
                            Departamentos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Novo Projeto
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Ajuda
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                        </a>
                    </li>
                </ul>

                <form class="mr-1" id="form-login" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-laranja margin-right">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<article>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="alert alert-primary text-center col-8 border-buttom" role="alert">
                    Preencha o formulário para criar um novo projeto
                </div>
            </div>

<!--            <form action="/projeto/novo" method="post">-->
            <form th:object="${novoProjetoRequest}" action="/Omni/projeto/novo" method="post">
                <div class="row">
                    <div class="form-group mt-5 col-md-6">
                        <label for="nome" id="labelProjeto" data-bs-toggle="tooltip" data-bs-placement="top" title="Campo obrigatório; Máximo 50 caractéres">Projeto:</label>
<!--                        <input type="text" class="form-control" id="nome" placeholder="Digite o nome do seu projeto" minlength="1" maxlength="50">-->
                        <input th:field="*{nome}" type="text" class="form-control" id="nome" placeholder="Digite o nome do seu projeto" minlength="1" maxlength="50">
                        <div class="text-danger" th:errors="*{nome}">
                            Erros da descrição do produto
                        </div>
                    </div>
                    <div class="form-group mt-5 col-md-6">
                        <label for="departamento" id="labelDepartamento" data-bs-toggle="tooltip" data-bs-placement="top" title="Campo obrigatório">Departamento:</label>
                        <select id="departamento" name="departamento" class="form-select" aria-label="Default select example">
                            <option th:each="dept : ${departamentos}" th:value="${dept.id}" th:text="${dept.nome}">Open this select menu</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group mt-4 col-md-4 col-xs-12">
                        <label for="situacaoAtual" id="labelSituacaoAtual" data-bs-toggle="tooltip" data-bs-placement="top" title="Campo obrigatório; Máximo 100 caractéres">Situação Atual</label>
<!--                        <textarea class="form-control" id="situacaoAtual" rows="4" placeholder="Análise da situação atual" minlength="1" maxlength="100"></textarea>-->
                        <textarea th:field="*{situacaoAtual}" class="form-control" id="situacaoAtual" rows="4" placeholder="Análise da situação atual" minlength="1" maxlength="100"></textarea>
                        <div class="text-danger" th:errors="*{situacaoAtual}">
                            Erros da descrição do produto
                        </div>
                    </div>

                    <div class="form-group mt-4 col-md-4 col-xs-12">
                        <label for="situacaoDesejada" id="labelSituacaoDesejada" data-bs-toggle="tooltip" data-bs-placement="top" title="Campo obrigatório; Máximo 100 caractéres">Situação desejada</label>
<!--                        <textarea class="form-control" id="situacaoDesejada" rows="4" placeholder="Descrição da situação desejada" minlength="1" maxlength="100"></textarea>-->
                        <textarea th:field="*{situacaoDesejada}" class="form-control" id="situacaoDesejada" rows="4" placeholder="Descrição da situação desejada" minlength="1" maxlength="100"></textarea>
                        <div class="text-danger" th:errors="*{situacaoDesejada}">
                            Erros da descrição do produto
                        </div>
                    </div>

                    <div class="form-group mt-4 col-md-4 col-xs-12">
                        <label for="solucao" id="labelSolucao" data-bs-toggle="tooltip" data-bs-placement="top" title="Campo obrigatório; Máximo 100 caractéres">Solução</label>
<!--                        <textarea class="form-control" id="solucao" rows="4" placeholder="Descrição da solução" minlength="1" maxlength="100"></textarea>-->
                        <textarea th:field="*{solucao}" class="form-control" id="solucao" rows="4" placeholder="Descrição da solução" minlength="1" maxlength="100"></textarea>
                        <div class="text-danger" th:errors="*{solucao}">
                            Erros da descrição do produto
                        </div>
                    </div>
                </div>

                <fieldset class="form-group mt-4">
                    <div class="row text-center">
                        <div>
                            <div class="form-check d-inline-block margin-1">
                                <input class="form-check-input" type="radio" name="regulatorio" id="gridRadiosNao" value="false" checked>
                                <label class="form-check-label" for="gridRadiosNao">
                                    Regulatório (não)
                                </label>
                            </div>
                            <div class="form-check d-inline-block">
                                <input class="form-check-input" type="radio" name="regulatorio" id="gridRadiosSim" value="true">
                                <label class="form-check-label" for="gridRadiosSim" >
                                    Regulatório (sim)
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row justify-content-center mt-5">
                    <div class="col-8 col-md-5">
                        <button type="submit" class="btn btn-laranja width-100">Criar Projeto</button>
                    </div>
                    <div class="col-4 col-md-2">
                        <a class="btn btn-azul width-100" href="/Omni/home">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</article>

<footer>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>