<!DOCTYPE html>
<html lang="pt-br">
<head>
    <head th:replace="~{geral :: head}"></head>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-azul">
        <div class="container-fluid">
            <a class="navbar-brand ml-1" href="/Omni/home">
                <img src="https://www.bizfacil.com.br/imagens/logo_omni_fundo_azul.png" alt="" width="83" height="43" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mr-2">
                        <a class="nav-link active" href="/Omni/home">
                            Projetos
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/Omni/departamento/todos">
                            Departamentos
                        </a>
                    </li>

                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/Omni/projeto/criar">
                            Novo Projeto
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<article>
    <section>
        <div class="container">
            <div class="text-center" role="alert">
                <h5 class="text-azul d-inline-block mt-3">
                    Detalhes do projeto projeto "<h5 th:text="${projeto.nome}" class="d-inline-block"></h5>"
                </h5>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="card pside-0 col-10" style="width: 40 rem;">

                    <th:block th:switch="${projeto.regulatorio.name()}">
                        <div class="card-header alert-primary" th:case="'SIM'">
                            <h5 th:text="${projeto.nome}" class="card-title mt-1 d-inline-block">Quitação de divídas</h5>
                            (<p th:text="${projeto.id}" class="mb-0 d-inline-block">id</p>)
                        </div>

                        <div class="card-header alert-warning" th:case="'NÃO'">
                            <h5 th:text="${projeto.nome}" class="card-title mt-1 d-inline-block">Quitação de divídas</h5>
                            (<p th:text="${projeto.id}" class="mb-0 d-inline-block">id</p>)
                        </div>
                    </th:block>
                    <div class="card-body">
                        <h6 th:text="${projeto.departamento.nome}" class="card-subtitle mb-2 text-muted">Central de atendimento</h6>
                        <hr class="dropdown-divider">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <strong>Situação Atual: </strong><p th:text="${projeto.analiseSituacaoAtual}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="mt-2 col-md-4 col-xs-12">
                                <strong>Situação Desejada: </strong><p th:text="${projeto.descricaoSituacaoDesejada}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="mt-2 col-md-4 col-xs-12">
                                <strong>Descrição da Solução: </strong><p th:text="${projeto.descricaoSolucao}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div>
                            <div>
                                <p class="fst-italic d-inline-block mb-1">Regulatório: </p> <p th:text="${projeto.regulatorio}" class="mb-0 d-inline-block">Sim</p>
                            </div>
                            <div>
                                <p class="fst-italic d-inline-block mb-0">Data solicitação: </p> <p th:text="${#temporals.format(projeto.dataSolicitacao, 'dd/MM/yyyy')}" class="mb-0 d-inline-block">20/01/2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/home/alterar/{id}(id=${projeto.id})}" class="d-inline-block card-link">Alterar Projeto</a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-4 mb-3">
                <div class="col-auto">
                    <a class="btn btn-info width-100" href="/Omni/home">Voltar</a>
                </div>
            </div>
        </div>
    </section>
</article>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>