<!DOCTYPE html>
<html lang="pt-br">
<head>
    <head th:replace="~{geral :: head}"></head>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-azul">
        <div class="container-fluid">
            <a class="navbar-brand ml-1" href="#">
                <img src="https://www.bizfacil.com.br/imagens/logo_omni_fundo_azul.png" alt="" width="83" height="43" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mr-2">
                        <a class="nav-link active" href="#">
                            Projetos
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/Omni/departamento/todos">
                            Departamentos
                        </a>
                    </li>

                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/Omni/projeto/criar">
                            Novo Projeto
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#ajudaModal">
                            Ajuda
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                        </a>
                    </li>
                </ul>

                <form class="mr-1" id="form-login" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-laranja margin-right">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<article>
    <section>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="card pside-0 col-10" style="width: 40 rem;">

                    <th:block th:switch="${projeto.regulatorio.name()}">
                        <div class="card-header alert-primary" th:case="'SIM'">
                            <h5 th:text="${projeto.nome}" class="card-title mt-1 d-inline-block">Quitação de divídas</h5>
                            (<p th:text="${projeto.id}" class="mb-0 d-inline-block">id</p>)
                        </div>

                        <div class="card-header alert-warning" th:case="'NÃO'">
                            <h5 th:text="${projeto.nome}" class="card-title mt-1 d-inline-block">Quitação de divídas</h5>
                            (<p th:text="${projeto.id}" class="mb-0 d-inline-block">id</p>)
                        </div>
                    </th:block>
                    <div class="card-body">
                        <h6 th:text="${projeto.departamento.nome}" class="card-subtitle mb-2 text-muted">Central de atendimento</h6>
                        <hr class="dropdown-divider">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <strong class="fst-italic">Situação Atual: </strong><p th:text="${projeto.analiseSituacaoAtual}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="mt-2 col-md-4 col-xs-12">
                                <strong class="fst-italic">Situação Desejada: </strong><p th:text="${projeto.descricaoSituacaoDesejada}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="mt-2 col-md-4 col-xs-12">
                                <strong class="fst-italic">Descrição da Solução: </strong><p th:text="${projeto.descricaoSolucao}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div>
                            <div>
                                <p class="fst-italic d-inline-block mb-1">Regulatório: </p> <p th:text="${projeto.regulatorio}" class="mb-0 d-inline-block">Sim</p>
                            </div>
                            <div>
                                <p class="fst-italic d-inline-block mb-0">Data solicitação: </p> <p th:text="${#temporals.format(projeto.dataSolicitacao, 'dd/MM/yyyy')}" class="mb-0 d-inline-block">20/01/2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        Criado por: Gustavo Ridgue
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-4 mb-3">
                <div class="col-5 col-md-2">
                    <a class="btn btn-azul width-100" href="/Omni/home">Voltar</a>
                </div>
<!--                <div class="col-4 col-md-2">-->
<!--                    <form th:action="@{home/deletar/{id}(id=${projeto.id})}" method="post">-->
<!--                        <button type="submit" class="btn btn-danger">Deletar</button>-->
<!--                    </form>-->
<!--                </div>-->
            </div>

<!--            <div class="row justify-content-center mt-3">-->
<!--                <div class="accordion-item col-8">-->
<!--                    <h2 class="accordion-header" id="headingTwo">-->
<!--                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--                            Accordion Item #2-->
<!--                        </button>-->
<!--                    </h2>-->
<!--                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">-->
<!--                        <div class="accordion-body">-->

<!--                            <strong>This is the second item's accordion body.</strong>-->
<!--                            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.-->
<!--                            These classes control the overall appearance, as well as the showing and hiding via CSS transitions.-->
<!--                            You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that-->
<!--                            just about any HTML can go within the<code>.accordion-body</code>, though the transition does limit overflow.-->

<!--                            <form th:action="@{home/deletar/{id}(id=${projeto.id})}" method="post">-->
<!--                                <button type="submit" class="btn btn-danger">Deletar</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
</article>

<div class="modal fade" id="ajudaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajuda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>